<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/bee41f40-2fd1-42e7-bf1e-4ebaef642a32/resourceGroups/Asp.NetHosting/providers/Microsoft.Web/sites/PersonalAccounting</ResourceId>
    <ResourceGroup>Asp.NetHosting</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://personalaccounting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>personalaccounting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PersonalAccounting</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PersonalAccounting</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>