
body {
    background-color: #e0dcdc;
}

.body-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #e2c2a2;
    border-collapse: separate;
    border-spacing: 10px 15px;
    padding-top: 20px;
    padding-bottom: 200px;
}

.currency-block {
    text-align: center;
    padding: 20px;
    width: 23%;
    background-color: #649533;
    box-shadow: 0px 0px 1px #315e2c;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.button-currency {
    width: 130px;
    text-align: center;
    background-color: #d4e8c4;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 15px #315e2c;
    color: #364450;
    font-weight: bolder;
    margin-top: 4px;
    margin-bottom: 4px;
}
.button-currency-sm {
    width: 65px;
    height: 30px;
    text-align: center;
    background-color: #d4e8c4;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 2px #315e2c;
    color: #364450;
    font-weight: bolder;
    margin-top: 4px;
    margin-bottom: 4px;
}

    .button-currency-sm:hover {
        background-color: #d7e493;
        box-shadow: 0px 0px 1px #315e2c;
    }

    .button-currency-sm:active {
        background-color: #d7e493;
        box-shadow: 0px 0px 0px #315e2c;
        margin-top: 5px;
        margin-bottom: 3px;
    }

.button-currency:hover {
    background-color: #d7e493;
    box-shadow: 0px 0px 13px #315e2c;
}

.button-currency:active {
    background-color: #d7e493;
    box-shadow: 0px 0px 0px #315e2c;
    margin-top: 5px;
    margin-bottom: 3px;
}

.btn-shdw {
    box-shadow: 0px 0px 2px #315e2c;
    width: 65px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bolder;
    
}
    .btn-shdw:hover {
        background-color: #c82333;
        box-shadow: 0px 0px 1px #315e2c;
    }

    .btn-shdw:active {
        background-color: #c82333;
        box-shadow: 0px 0px 0px #315e2c;
        margin-top: 5px;
        margin-bottom: 3px;
    }

.div-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.title-background {
    background-image: url(https://wpcdn.us-midwest-1.vip.tn-cloud.net/www.ibmadison.com/content/uploads/2022/04/j/n/4-7-22-financial-tips-panel.png);
    background-size: 100%;
    background-position-y: center;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 150px;
}

.title-background-add {
    background-image: url(https://wpcdn.us-midwest-1.vip.tn-cloud.net/www.ibmadison.com/content/uploads/2022/04/j/n/4-7-22-financial-tips-panel.png);
    background-size: 100%;
    background-position-y: center;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 75px;
}
h1 {
    font-size: 100px;
    letter-spacing: 10px;
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.form-1 {
    width: 30%;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-2 {
    width: 70%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.current-balance {
    text-align: center;
    background-color: #c1d776;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 5px;
    padding-left: 5px;
    width: 70%;
    
}

thead, tfoot {
    background-color: #354c5b;
    border: solid 2px white;
    border-collapse: collapse;
}
.table-body {
    background-color: #e0dcdc;
    border: solid 2px white;
    border-collapse: collapse;
}
.table-border {
    border: solid 2px white;
    border-collapse: collapse;
}